RewriteEngine On
RewriteBase /knowledge/

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ ./server.php [L]

<FilesMatch ".(ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    Allow from all
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>


header('Access-Control-Allow-Origin: *');